<div class="card">
  <div class="card-header">
    <img class="card-logo" src="/assets/logo_secondary.svg" alt="" />
    <p class="card-heading">đăng ký trải nghiệm</p>
  </div>

  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="full-width row-container">
        <input
          class="text-input"
          type="text"
          formControlName="lastName"
          placeholder="Nhập họ của bạn"
        />

        <input
          class="text-input"
          type="text"
          formControlName="firstName"
          placeholder="Nhập tên của bạn"
        />
      </div>

      <div>
        <input
          class="text-input full-width"
          type="email"
          formControlName="email"
          placeholder="Nhập email làm việc"
        />
      </div>

      <div class="full-width row-container">
        <input
          class="text-input"
          type="text"
          formControlName="company"
          placeholder="Nhập tên công ty"
        />

        <p-dropdown
          formControlName="country"
          [options]="countries"
          optionLabel="name"
          placeholder="Quốc gia"
        ></p-dropdown>
      </div>

      <div>
        <p-dropdown
          formControlName="field"
          [options]="fields"
          optionLabel="name"
          placeholder="Nhập lĩnh vực"
        ></p-dropdown>
      </div>

      <div>
        <input
          class="text-input full-width"
          type="text"
          formControlName="position"
          placeholder="Vị trí làm việc"
        />
      </div>

      <div>
        <input
          class="text-input full-width"
          type="text"
          formControlName="purpose"
          placeholder="Mục đích bạn đến với website"
        />
      </div>

      <button class="submit-btn full-width" (onclick)="onSubmit()">
        Đăng ký
      </button>

      <span class="center-text small-text"
        >Bạn đã có tài khoản? <a routerLink="../login">Đăng nhập</a></span
      >
    </form>
  </div>
</div>
