<div class="layout-container">
  <div class="bg-container">
    <div class="rect"></div>
    <svg>
      <path
        d="M119 0L109 22.8C99 45.7 79 91.3 94.5 137C110 182.7 161 228.3 181 274C201 319.7 190 365.3 176.5 411.2C163 457 147 503 130 548.8C113 594.7 95 640.3 109.2 686C123.3 731.7 169.7 777.3 198.2 823C226.7 868.7 237.3 914.3 242.7 937.2L248 960L0 960L0 937.2C0 914.3 0 868.7 0 823C0 777.3 0 731.7 0 686C0 640.3 0 594.7 0 548.8C0 503 0 457 0 411.2C0 365.3 0 319.7 0 274C0 228.3 0 182.7 0 137C0 91.3 0 45.7 0 22.8L0 0Z"
        stroke-linecap="round"
        stroke-linejoin="miter"
        style="transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1) 0s"
      ></path>
    </svg>
  </div>

  <div class="slider-container">
    <ul class="slider-items">
      <li class="slider-item">
        <img src="/assets/login_main.svg" alt="" srcset="" class="bg-img" />
        <div class="bg-text">
          <h1>hệ thống quản lý chat đa nền tảng</h1>
          <h3>tiết kiệm thời gian tư vấn và chăm sóc khách hàng</h3>
        </div>
      </li>

      <li class="slider-item">
        <img src="/assets/login_main.svg" alt="" srcset="" class="bg-img" />
        <div class="bg-text">
          <h1>hệ thống quản lý chat đa nền tảng</h1>
          <h3>tiết kiệm thời gian tư vấn và chăm sóc khách hàng</h3>
        </div>
      </li>

      <li class="slider-item">
        <img src="/assets/login_main.svg" alt="" srcset="" class="bg-img" />
        <div class="bg-text">
          <h1>hệ thống quản lý chat đa nền tảng</h1>
          <h3>tiết kiệm thời gian tư vấn và chăm sóc khách hàng</h3>
        </div>
      </li>
    </ul>
    <div class="slider-nav">
      <input
        type="radio"
        name="slider-trigger"
        class="slider-trigger"
        checked
      />
      <input type="radio" name="slider-trigger" class="slider-trigger" />
      <input type="radio" name="slider-trigger" class="slider-trigger" />
    </div>
  </div>
</div>

<div class="card-container">
  <app-login></app-login>
</div>
