@import "primeng/resources/primeng.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";

html {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

.no-underline {
  text-decoration: none;
}
