html {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32;
}

h3 {
  font-size: 24;
}
