.card {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 6px;
  padding: 3.5rem 3rem 3rem 3rem;
}

.card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.card-logo {
  width: 60%;
  margin-bottom: 3rem;
}

.card-heading {
  text-align: center;
  color: #ee0033;
  font-weight: 700;
  margin-bottom: 2.5rem;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.card-heading::first-letter {
  text-transform: uppercase;
}

.card-body {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}

.text-input {
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid #8d99bb;
  width: 100%;
}

.text-input::placeholder {
  font-family: "Quicksand", sans-serif;

  color: #8d99bb;
}

.text-input:focus {
  outline: 2px solid #ee0033;
}

.save-login {
  display: inline-block;
  margin-bottom: 1rem;
  input {
    margin-right: 8px;
    border: 1px solid #8d99bb;
    outline: none;
  }
}

.submit-btn {
  font-family: "Quicksand", sans-serif;

  text-align: center;
  padding: 1rem 0.5rem;
  border-radius: 6px;
  background-color: #ee0033;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
}

//utility classes//
.center-text {
  text-align: center;
}

.full-width {
  width: 100%;
}

.row-container {
  gap: 1rem;
  display: flex;
  justify-content: space-between;
}

.small-text {
  font-size: 0.875rem;
}

.p-dropdown {
  border: 1px solid #8d99bb !important;
  background-color: red;
}
